.custom-header {
    background: #4a76a8;
}

#logo {
    color: #ffffff;
    font-size: 30px;
}

#logout {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    text-decoration: none;
}